.p-datepicker {
    z-index: 1000;
    width: 100%;
    /* Ajusta el valor según sea necesario */
}

.coordinador {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1250px) {
    .coordinador {
        flex-direction: column;
        align-items: flex-start;
    }
}